@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

.__image_content {
	text-align: center;
	margin: 10px auto;
	font-family: 'Bungee Inline', cursive;
}

img {
	width: 100%;
	max-width: 200px;
}