@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

.__image_content {
	text-align: center;
	font-family: 'Bungee Inline', cursive;
  background-color: rgb(0, 188, 212);
  color: white;
  padding: 72px 24px;
  box-sizing: border-box;
  overflow: hidden;
}

img {
	width: 100%;
	max-width: 200px;
}